body {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 300px;
    height: 500px;
    background-image: url('https://e7.pngegg.com/pngimages/129/595/png-transparent-wood-grain-background-thumbnail.png');
    background-size: cover;
    flex-direction: column;
}

.block, button{
    width: 150px;
    height: 60px;
    background: white;

    margin: 10px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
#answer {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 100px;
    height: 40px;
    margin: 0;
    opacity: 50%;
}

#score {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: end;
    height: 20px;
    width: 100%;
    /*background-color: #6863e1;*/
}
#info{
    opacity: 30%;

}
#info_score, #info_time {
    padding: 0 10px 0 10px;
    opacity: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    color: black;
    font-size: 13px;
}