body {
    background: #333;
}
.main {
    width: 99vw;
    display: flex;
    justify-content: space-evenly;
}
.section {

}
.c_yg {
    color: yellowgreen;
}
.block {
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: cornflowerblue;
}
.border {
    border: solid 1px cornflowerblue;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.border > h4,p{
    margin: 10px;
}


.button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;

    width: 75px;
    height: 30px;
    border-radius: 15px;

    background: green;
    color: white;
    opacity: 75%;
    text-decoration: none;
}
.button:hover{
    opacity: 100;
    color: yellow;

}
.b2{
    top: 50px;
}