.main {
    width: 100%;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
}
.block_a {
    width: 96%;
    height: 25%;
    background: silver;
    overflow: hidden;
}
.block_bc {
    display: flex;
    box-sizing: border-box;
    width: 96%;
    height: 75%;
}
.block_b {
    width: 75%;
    height: 100%;
    background: cornflowerblue;
    margin: 10px 10px 0 0;
    overflow: hidden;

}
.block_c {
    width: 25%;
    height: 100%;
    background: lightcoral;
    overflow: hidden;
    margin: 10px 0 0 0;

}

.add {
    border-radius: 20px;
}


/*=============================================*/

.section {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 10px;
}
header {
    width: 96%;
    height: 22%;
    background: silver;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.body {
    position: relative;
    width: 96%;
    height: 64%;

    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.aside {
    position: absolute;
    border-radius: 20px;
    right: 0;
    width: 24%;
    height: 100%;
    background: silver;
}
.content {
    position: absolute;
    border-radius: 20px;
    left: 0;
    width: 74%;
    height: 100%;
}
.thead {
    position: absolute;
    border-radius: 20px;
    right: 0;
    width: 100%;
    height: 48%;
    background: silver;
}
.items {
    display: flex;
    justify-content: space-between;
    position: absolute;
    border-radius: 20px;
    bottom: 0;
    width: 100%;
    height: 48%;
}
.item {
    border-radius: 20px;
    right: 0;
    width: 31.5%;
    height: 100%;
    background: silver;
}

a {
    position: fixed;
    background: green;
    color: gold;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    z-index: 2;
    top: 0;
    opacity: 20%;
}
a:hover{
    opacity: 100;
}

