    @media screen and (max-width: 600px){
    section{
        width: 100%;
    }
    .user_info{
        width: 100vw;
        flex-direction: column;
        transition: .3s;

    }
    .info, .details, .posts{
    }
    }