
body {
    padding: 0;
    margin: 0;
}

html {
    padding: 0;
    margin: 0;

}

.main {
    background: #000;
    width: 99vw;
    height: 100vh;

    display: flex;
    justify-content: center;
}

section {
    background: #333;
    width: 50%;
}
.header{
    display: flex;
    justify-content: center;
    font-size: 32px;

}
h1{
    margin-block-start: 0;
    margin-block-end: 0;
}
.users {
    background: #555;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 40px;

    box-sizing: border-box;
    padding: 40px;
}
.user{
    width: 45%;
    min-width: 276px;
    border: 1px solid gold;

    display: flex;
    justify-content: space-between;

    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0 10px 0 10px;
}
div{
    color: #afafaf;
}
div:hover{
    color: gold;
}