*{
    border-radius: 15px;

}
body{
    margin: 0;
    padding: 0;
}
.main{
    /*max-width: 100vw;*/
    min-height: 100vh;
    background: url("https://www.rgo.ru/sites/default/files/node/32473/yuriy-ufimcev-fioletovyy-zakat-536530.jpg") center;
    background-size: cover;
    display: flex;
    justify-content: center;
    border-radius: 0;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    width: 50%;
    min-width: 600px;
    background: rgba(16, 43, 63, 0.32);
}
header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 30px;
    background: rgba(255, 165, 0, 0.80);

    border-radius: 15px 15px 0 0;
}
.user_info {
    width: 95%;

    display: flex;
    justify-content: space-around;
    column-gap: 20px;

}
.info {
    background: rgba(51, 51, 51, 0.70);

}
.details {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

}

.address {
    width: 100%;
    background:  rgba(51, 51, 51, 0.70);
}
.company {
    width: 100%;
    background:  rgba(51, 51, 51, 0.70);

}

.content{
    min-width: 255px;
    font-size: 20px;
    color: white;
    padding: 0 20px;
    box-sizing: border-box;


}
.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 20px;
    row-gap: 20px;
    width: 95%;
    height: 0;
    background:  rgba(51, 51, 51, 0.70);
    overflow: hidden;
}
.posts_after{
    padding: 10px 0;
    height: auto;

}
#btn_posts {
    width: 90%;
    height: 40px;
    background: rgba(255, 165, 0, 0.70);
    font-size: 20px;
    font-weight: 700;
    transition: .5s;
}
#btn_posts:hover{
    background: rgba(115, 135, 255, 0.71);
    transition: .5s;
}

.post{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 150px;
    height: 120px;

    background: rgba(0, 255, 12, 0.4);
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
    overflow: hidden;
    transition: .5s;

}
.post:hover{
    width: 220px;
    transition: .5s;
    transform: translateY(-5px) translateX(5px);
}

.post_btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: 20%;

    background: rgba(115, 135, 255, 0.76);
    color: black;
    text-decoration: none;
    font-size: 16px;

    transition: .5s;
}
.post_btn:hover{
    /*background: orange;*/
    color: white;
    transition: .5s;
    border: 1px solid orange;
}

ul{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
p{
    max-height: 70%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


